/Back End/node_modules
/Back End/build
/Back End/.env

/Front End/src/Components/Sections/CompletedProjects.old.jsx
/Front End/src/Components/Sections/ContactWithMe.Old.jsx
/Front End/node_modules
/Front End/build
/Front End/.env

/Rest Api/node_modules
/Rest Api/.env